body {
# background-image: linear-gradient(top bottom, rgb(242, 242, 242), rgb(255, 255, 255));
 background-image: url(../images/inflicted.png);
 padding-bottom: 40px;
 border-left-width:20px;
}

.sidebar-nav {
  padding: 9px 0;
}

.inline {
    display:inline;
}

#container {
  margin:10px;
}

/*.animate {
   width: 6.6em;
   width: 66ch;
   border-right: .1em solid;
   font: 5em monospace;
   animation: cursor 1s step-end infinite;
} */