<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://www.oracle.com/webfolder/technetwork/jsc/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.oracle.com/webfolder/technetwork/jsc/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>Webapp Tapestry 5.4</display-name>
    <context-param>
        <!-- The only significant configuration for Tapestry 5, this informs Tapestry
of where to look for pages, components and mixins. -->
        <param-name>tapestry.app-package</param-name>
        <param-value>net.company</param-value>
    </context-param>
    <filter>
        <filter-name>app</filter-name>
        <filter-class>org.apache.tapestry5.TapestryFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>app</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <session-config>
        <!-- https://www.owasp.org/index.php/HttpOnly
             http://support.filecatalyst.com/index.php?/Knowledgebase/Article/View/209/0/securing-session-cookies-in-tomcat-with-httponly-and-securetrue
        -->
        <session-timeout>120</session-timeout>
        <cookie-config>
            <http-only>true</http-only>
        </cookie-config>
        <!-- https://fralef.me/tomcat-disable-jsessionid-in-url.html -->
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>
</web-app>
